<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/crud3</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="generate_statistics">true</property>
        <property name="use_sql_coments">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="univs.edu.usuario.Usuario"/>
        <mapping class="univs.edu.funcionario.Funcionario"/>
        <mapping class="univs.edu.cliente.Cliente"/>
        <mapping class="univs.edu.dentista.Dentista"/>
        <mapping class="univs.edu.consulta.Consulta"/>
        
        
    </session-factory>
</hibernate-configuration>

